{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="title">Login</h1>
            </div>
        </div>

        <div class ="row">
            <div class = "col-sm">
                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div >
                        <div >
                            <button >Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}